@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    padding: 3rem;
}

/* -> Grid  */
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(300px, auto)); */
    grid-template-rows: repeat(2, minmax(300px, auto));
    grid-auto-flow: dense;
    gap: 1.5rem;
    min-width: 375px;
}





img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
}
.images {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.name {
    font-weight: 500;
}
.verification {
    opacity: 50%;
}
.content {
    display: flex;
    flex-flow: column nowrap;
    opacity: 70%;
}
.heading {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 0rem;
}
/* ! A */

.A {
    background: hsl(263, 55%, 52%);
    background-image: url('images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right 100px;
    color: hsl(0, 0%, 81%);
    padding: 1.5rem;
    border-radius: 9px;
    box-shadow: 3px 3px 15px hsla(217, 19%, 35%, 0.5);
    grid-column: span 2;
} 


/* ! B */

.B {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 81%);
    padding: 1.5rem;
    border-radius: 9px;
    box-shadow: 3px 3px 15px hsla(217, 19%, 35%, 0.5);
}

/* ! C */

.C {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    padding: 1.5rem;
    border-radius: 9px;
    box-shadow: 3px 3px 15px hsla(217, 19%, 35%, 0.5);
    /* grid-column: 1 / 2; */
}

/* ! D */

.D {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
    padding: 1.5rem;
    border-radius: 9px;
    box-shadow: 3px 3px 15px hsla(217, 19%, 35%, 0.5);
    grid-column: span 2;
}

/* ! E */

.E {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    padding: 1.5rem;
    border-radius: 9px;
    box-shadow: 3px 3px 15px hsla(217, 19%, 35%, 0.5);
    grid-column: -1 / span 1;
    grid-row: 1 / -1;
}